#root {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-template-areas: "room game game .";
}

#rooms-page {
    grid-area: room;
}

#game-page {
    grid-area: game;
    border: 1px solid;
}

#disconnect-button {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
}

#ready-button {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
}

#timer2 {
    position: fixed;
    top: 20px;
}